.takePhoto {
    display: block;
    position: relative;
    overflow: hidden;
    min-width: 320px;
    min-height: 240px;
}

.takePhotoMask {
    position: absolute;
    outline: 2px solid red;
}


.takePhoto canvas {
    position: absolute;
    right: 0;
}

.takePhoto button { position: absolute; z-index: 11111; bottom: 10px; left: 50%; transform: translateX(-50%);}