.modal {
    padding: 0;
    border: 1px solid #adadad;
    border-radius: 4px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.2), 0 8px 32px rgba(0,0,0,0.1);
}


.modal header {
    padding: 16px 16px;
    border-bottom: 1px solid #e0e0e0;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    color: #fff;
}

.modal main {
    padding: 16px;

}

.modal footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
    border-top: 1px solid #e0e0e0;
    gap: 8px;
}

